<%- include("template/cabecera", {tituloWeb: 'Detalle de servicio' }) %>

<div class="container">
  <h1>Detalle servicio</h1>
  <% if (error) { %>
  <p><%= mensaje %></p>
  <div class="d-grid gap-2">
    <a href="/" class="btn btn-dark">Volver a Servicios</a>
  </div>
  <% } %> <% if (!error) { %>

  <form id="formularioEditar" data-id="<%= servicio.id %>">
    <input
      type="text"
      class="form-control my-2"
      name="descripcion"
      value="<%= servicio.descripcion %>"
      id="descripcionInput"
    />
    <input
      type="text"
      class="form-control my-2"
      name="precio"
      value="<%= servicio.precio %>"
      id="precioInput"
    />
    <div class="d-grid gap-2">
      <button class="btn btn-warning" type="submit">Editar</button>
    </div>
  </form>
  <hr />
  <button
    class="btn btn-danger btn-sm mt-5"
    id="btnEliminar"
    data-id="<%= servicio.id %>"
  >
    Eliminar
  </button>

  <% } %>
</div>

<%- include("template/footer") %>

<script>
  const btnEliminar = document.querySelector("#btnEliminar");

  btnEliminar.addEventListener("click", async () => {
    //console.log("me diste click");
    const id = btnEliminar.dataset.id;
      try {
      const data = await fetch(`/servicios/${id}`, {
        method: "delete",
      });
      const res = await data.json();
      //console.log(res);
      if (res.estado) {
        window.location.href = "/servicios/";
      } else {
        console.log(res);
      }
    } catch (error) {
      console.log(error, "abcd");
    }
  });

  const formularioEditar = document.querySelector("#formularioEditar");

  formularioEditar.addEventListener("submit", async (e) => {
    e.preventDefault();
    const descripcion = document.querySelector("#descripcionInput").value;
    //const descripcion = formularioEditar.elements['descripcion'].value
    const precio = document.querySelector("#precioInput").value;

    const id = formularioEditar.dataset.id;

    //console.log("holaaaaa", descripcion, precio, id);
    try {
      const data = await fetch(`/servicios/${id}`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ descripcion, precio }),
      });
      const res = await data.json();
      
      if (res.estado) {
        window.location.href = "/servicios/";
      } else {
        console.log(res)
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
