<%- include("template/cabecera", {tituloWeb: 'pagina de Servicios' }) %>


    <div class="container">
        <div class="row justify-content-md-center mt-2"><div class="col-9">
        <h3 class="mb-3">Listado de Servicios</h3>
        <div class="d-grid gap-2">
            <a
                id='crear'
                class="btn btn-success"
                
            >
                Crear Nuevo Servicio
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayServicios.length> 0) { %>
                    
                    <% arrayServicios.forEach(servicio=> { %>
                        <tr>
                            <!-- <th scope="row"><%= servicio.id %> </th> -->
                            <td><%= servicio.descripcion %></td>
                            <td>$<%= servicio.precio %></td>
                            <td>
                                <a 
                                href="/servicios/<%= servicio.id %>"
                                class="btn btn-warning btn-sm">Editar</a>

                                <!-- <td>
                                    <button class="btn btn-danger btn-sm" id="btn_servicio.id" 
                                        data-id="<%= servicio.id %>">servicio</button>
                                </td> -->
                               
                            </td>
                        </tr>
        
                    <% }) %>
        
                <% } %>
                

            </tbody>
        </table>
     </div></div>
        
    </div>
    <%- include("template/footer") %>

    <script>
    const boton= document.querySelector('#crear')
       
           
    
    //verificar();
    boton.addEventListener('click', async() =>{
        console.log("llego hast aca");
            const token2 = await localStorage.getItem("token1");
            console.log(token2);
            try {
                const res = await fetch("https://jwt-api-1.herokuapp.com/api/admin", {
                    headers: {
                        "Content-Type": "application/json",
                        "auth-token": token2,
                    },
          });
          console.log(res, "respuesta verify");
          //return next();
        //   if (res.status == 400) {
            if (res.status !=200) {
              window.location.href = "/login/";
            }else{
                window.location.href = "servicios/crear";
            }
        } catch (error) {
            window.location.href = "/login/";
            console.log("error");
        }
    })
    </script>